<h1>User Login:</h1>
      <form action="/login" method="POST">
        <label>Username:</label>
        <input type="text" name="username" id="username">

        <label>Password:</label>
        <input type="password" name="password">

        <input type="submit">
        <br></br>

      </form>
