<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Sinatra HackersHikes App</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HackersHikes</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hiking Info<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="http://www.hiking.info/index.php">General and Regional Hiking</a></li>
                <li><a target="_blank" href="https://www.nps.gov/glac/planyourvisit/hikingthetrails.htm">Glacial National Park</a></li>
                <li><a target="_blank" href="http://www.appalachiantrail.org/home/explore-the-trail/hiking-basics">Appalachian Conservancy</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <h1>Create User:</h1>
      <form action="/signup" method="POST">
        <label>Username:</label>
        <input type="text" name="username" id="username">

        <label>Email:</label>
        <input type="text" name="email" id="email">

        <label>Password:</label>
        <input type="text" name="password">

        <input type="submit" name="submit" value="Create User">
        <br></br>

      </form>
    </div>
  </body>
</html>
