
      <h1>HackersHikes</h1>
      <%@hikes.each do |hike|%>
        <p><a href="/hikes/<%=hike.slug%>"><%=hike.name%></a></p>
    
      <%end%>
    </div>

    <div class="container">
      <img src="https://static.pexels.com/photos/80000/panorama-mountain-montagne-pyrenees-80000.jpeg" class="img-responsive" alt="Beautiful Vista">
    </div>

  
